.catalogPage {


	&__block {
		display: grid;
		grid-template-columns: 25% 75%;
		grid-gap: 0 30px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 50px;

	}

	&__sidebar {
		width: 284px;
		background: #FFF8FE;
		border-radius: 3px;
		padding: 30px 20px;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 30px 0;
	}

	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 50px;
		line-height: 80px;
		color: #2D0027;

	}

	&__products {
		display: grid;
		grid-gap: 25px 25px;
		grid-template-columns: repeat(auto-fit, 280px);
	}
}
